.section-centered {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    width: 100%;
    max-width: 500px;
  }
}

.field {
  margin-bottom: 1rem;
}

body {
  padding-top: 54px;
}
